{% extends 'base.html' %}

{% block title %} {% endblock %}

{% block content %}


<section style="font-family: 'Gaegu', cursive;" class="about-section text-center">
    <div style="margin-top: 2rem;" class="testView">
        <div id="loading" >
            <h3>데이터 분석 중입니다.</h3>
            <div id="Progress_Loading" class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
            </div>
        </div>
        <div id="resultImage">
            <h3>분석 결과</h3>
          <br>
          <div style="display: flex; justify-content: space-evenly;">
              <div style="display: block;">
                  <h4>집</h4>
                  {% load static %}
                  <img style="width: 400px; height: 400px;" src="{% static 'labelImage/houselabel1.jpg' %}" />
              </div>

              <div style="display: block;">
                  <h4>나무</h4>
                  {% load static %}
                  <img style="width: 400px; height: 400px;" src="{% static 'labelImage/treelabel1.jpg' %}" />
              </div>

              <div style="display: block;">
                  <h4>사람</h4>
                  {% load static %}
                  <img style="width: 400px; height: 400px;" src="{% static 'labelImage/personlabel1.jpg' %}" />
              </div>
          </div>
        </div>
    </div>
</section>

<script src="http://code.jquery.com/jquery-latest.js"></script>
<script>
     // using jQuery
      function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
              break;
            }
          }
        }
        return cookieValue;
      }
      function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
      }
      $(document).ready(function() {
        var csrftoken = getCookie('csrftoken');
        $.ajaxSetup({
          beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
              xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
          }
        });
      });
</script>
<script type="text/javascript">

    $(document).ready(function(){
       $('#resultImage').hide();
    })
    .ajaxStart(function(){
        $('#Progress_Loading').show();
    })
    .ajaxStop(function(){
        $('#Progress_Loading').hide();
    });
    $.ajax({
            crossOrigin : true,
            url: '/analysis/getPic/',
            type: 'POST',
            dataType:'json',
            processData: false,
            contentType: false,
            data : formData,
            success: function (result) {
                console.log("성공")
            },
            error : function(){
                alert('통신실패!!');
            }
        });
</script>


{% endblock %}