{% extends 'base.html' %}

{% block title %}- Home{% endblock %}

{% block content %}

  <!-- main -->
  <section style="font-family: 'Gaegu', cursive !important;" class="masthead">
    <div style="display:flex; justify-content: space-around;" class="container d-flex h-100 align-items-center">
      <div style="margin: 0px !important; display:block;" class="mx-auto text-center">
        <h2 style="text-align: center; margin: 0px 0px 20px!important; color: black !important; font-size: xx-large;" class="text-white-50 mx-auto mt-2 mb-5">아이들의 마음이, <strong>다</strong> 다르다.</h2>
        {% load static %}
        <img style="display: block; width: 300px; height: 300px; margin: 50px;" src="{% static 'image/crayons.png' %}">
        <h2 style="text-align: center; margin: 20px 0px !important; color: black !important; font-size: xx-large;" class="text-white-50 mx-auto mt-2 mb-5">아이들의 마음에, <strong>다다르다</strong>.</h2>
        <a style="margin-top: 20px;" href="#loginup" class="btn btn-primary js-scroll-trigger">Get Started</a>
      </div>

    </div>
  </section>

  <!-- About Section -->
  <section style="font-family: 'Gaegu', cursive;" id="about" class="projects-section bg-light">
    <div class="container">
        <p style="text-align: center; font-size: -webkit-xxx-large;">마음이 소개</p>
        <ul>
            <li>한국 아동의 심리적 스트레스 증가. 위험성 이슈화</li>
            <li>OECT 국가 중 '학업 스트레스' 가장 많이 받음</li>
            <li>아이들의 스트레스 관리는 부모의 관심 필요</li>
            <li>아동 심리 상담센터 찾는 부모 증가</li>
            <li>아동 특화 온라인 검사 서비스 제공</li>
        </ul>
    </div>
  </section>

<!-- 개발자들 -->
  <section style="font-family: 'Gaegu', cursive;" class="about-section text-center">
    <div class="container">
        <p style="text-align: center; font-size: -webkit-xxx-large;">HTP 검사</p>
        <ul>
            <li>H : House (집)</li>
            <li>T : Tree (나무)</li>
            <li>P : Person (사람)</li>
            <li>아동에게 친숙한 집, 나무, 사람을 그리게 한 뒤, 투사된 인격의 양상을 검사하는 방법</li>
        </ul>
    </div>
  </section>

  {% endblock %}