<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Maeum</title>

  <!-- Bootstrap core CSS -->
  {% load static %}
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  {% load static %}
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">



  <!-- Custom styles for this template -->
  {% load static %}
  <link href="{% static 'grayscale.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'style.css' %}">


  <link href="https://fonts.googleapis.com/css?family=Gaegu&display=swap" rel="stylesheet">
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:600'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div style="font-family: 'Gaegu', cursive !important;" class="container">
      <a style="font-size: -webkit-xxx-large;" class="navbar-brand js-scroll-trigger" href="#page-top">마음이</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a style="font-size: x-large; padding: 0 1.5rem;" class="nav-link js-scroll-trigger" href="#about">마음이소개</a>
          </li>
          <li class="nav-item">
            <a style="font-size: x-large; padding: 0 1.5rem;" class="nav-link js-scroll-trigger" href="{% url 'test' %}">그림상담 </a>
          </li>
          <li class="nav-item">
            <a style="font-size: x-large; padding: 0 1.5rem;" class="nav-link js-scroll-trigger" href="{% url 'report' %}">최종리포트 </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <section style="font-family: 'Gaegu', cursive !important;" class="masthead">
    <div style="display:flex; justify-content: space-around;" class="container d-flex h-100 align-items-center">
      <div style="margin: 0px !important; display:block;" class="mx-auto text-center">
        <h2 style="text-align: center; margin: 0px 0px 20px!important; color: black !important; font-size: xx-large;" class="text-white-50 mx-auto mt-2 mb-5">아이들의 마음이, <strong>다</strong> 다르다.</h2>
        {% load static %}
        <img style="display: block; width: 300px; height: 300px; margin: 50px;" src="{% static 'image/crayons.png' %}">
        <h2 style="text-align: center; margin: 20px 0px !important; color: black !important; font-size: xx-large;" class="text-white-50 mx-auto mt-2 mb-5">아이들의 마음에, <strong>다다르다</strong>.</h2>
        <a style="margin-top: 20px;" href="#loginup" class="btn btn-primary js-scroll-trigger">Get Started</a>
      </div>

    </div>
  </section>

  <!-- About Section -->
  <section style="font-family: 'Gaegu', cursive;" id="about" class="projects-section bg-light">
    <div class="container">
        <p style="text-align: center; font-size: -webkit-xxx-large;">마음이 소개</p>

        <p style="text-align: center; font-size: xx-large;">마음이?</p>
        <ul>
            <li>한국 아동의 심리적 스트레스 증가. 위험성 이슈화</li>
            <li>OECT 국가 중 '학업 스트레스' 가장 많이 받음</li>
            <li>아이들의 스트레스 관리는 부모의 관심 필요</li>
            <li>아동 심리 상담센터 찾는 부모 증가</li>
            <li>아동 특화 온라인 검사 서비스 제공</li>
        </ul>
        <p style="text-align: center; font-size: xx-large;">HTP 검사?</p>
        <ul>
            <li>H : House (집)</li>
            <li>T : Tree (나무)</li>
            <li>P : Person (사람)</li>
            <li>아동에게 친숙한 집, 나무, 사람을 그리게 한 뒤, 투사된 인격의 양상을 검사하는 방법</li>
        </ul>

    </div>
  </section>

  <!-- Projects Section -->
  <section style="font-family: 'Gaegu', cursive;" id="loginup" class="about-section text-center">
      <h1 style="text-align: center;">로그인 & 회원가입</h1>
    <div style="display:block;">
        <div class="login-wrap">
            <div class="login-html">
                <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
                <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
                <div class="login-form">
                    <div class="sign-in-htm">
                        <div class="group">
                            <label for="user" class="label">Username</label>
                            <input id="user" type="text" class="input">
                        </div>
                        <div class="group">
                            <label for="pass" class="label">Password</label>
                            <input id="pass" type="password" class="input" data-type="password">
                        </div>
                        <div class="group">
                            <input id="check" type="checkbox" class="check" checked>
                            <label for="check"><span class="icon"></span> Keep me Signed in</label>
                        </div>
                        <div class="group">
                            <input type="submit" class="button" value="Sign In">
                        </div>
                        <div class="hr"></div>
                        <div class="foot-lnk">
                            <a href="#forgot">Forgot Password?</a>
                        </div>
                    </div>
                    <div class="sign-up-htm">
                        <div class="group">
                            <label for="user" class="label">Username</label>
                            <input id="user" type="text" class="input">
                        </div>
                        <div class="group">
                            <label for="pass" class="label">Password</label>
                            <input id="pass" type="password" class="input" data-type="password">
                        </div>
                        <div class="group">
                            <label for="pass" class="label">Repeat Password</label>
                            <input id="pass" type="password" class="input" data-type="password">
                        </div>
                        <div class="group">
                            <label for="pass" class="label">Email Address</label>
                            <input id="pass" type="text" class="input">
                        </div>
                        <div class="group">
                            <input type="submit" class="button" value="Sign Up">
                        </div>
                        <div class="hr"></div>
                        <div class="foot-lnk">
                            <label for="tab-1">Already Member?</label>>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
  </section>

  <!-- Footer -->
  <footer style="padding:4rem 0;" class="bg-black small text-center text-white-50">
      <section class="contact-section bg-black">
      <div class="container">
          <div class="social d-flex justify-content-center">
            <a href="#" class="mx-2">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="#" class="mx-2">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#" class="mx-2">
              <i class="fab fa-github"></i>
            </a>
          </div>
          <p style="margin: 1rem 0; color: black;">Copyright &copy; Your Website 2019</p>
      </div>
      </section>
  </footer>

  <!-- Bootstrap core JavaScript -->
{% load static %}
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Plugin JavaScript -->
<script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Custom scripts for this template -->
<script src="{% static 'js/grayscale.min.js' %}"></script>


  <script type="text/javascript">
    $(document).ready(function() {
          /*
          var defaults = {
          containerID: 'toTop', // fading element id
          containerHoverID: 'toTopHover', // fading element hover id
          scrollSpeed: 1200,
          easingType: 'linear'
          };
          */
    $().UItoTop({ easingType: 'easeOutQuart' });
    });
  </script>


</body>

</html>
