{% extends 'base.html' %}

{% block title %}- HTP Test{% endblock %}

{% block content %}

  <section style="font-family: 'JejuMyeongjo' !important;" id="projects" class="about-section text-center">
      <div style="margin-top: 0;" class="testView">
          <br>
          <p style="font-size: xx-large;"><strong>그림 그리는 방법</strong></p>
          <br>
          <div style="display: inline-block;">
              <ol style="text-align: justify; line-height: 250%;">
                  <li>먼저 A4 용지 한 장과 연필, 지우개를 아이 앞에 놓아 주세요.</li>
                  <li>첫 번째 용지에는 집을 그릴 수 있도록 지도해주세요.</li>
                  <li>집을 그린 후에 추가로 더 그려 넣고 싶은 것이 있다면 그릴 수 있도록 안내해주세요.</li>
                  <li>다 그린 아이들을 위해 새로운 용지를 준비해주세요.</li>
                  <li>두 번째 용지에는 나무를 그릴 수 있도록 지도해주세요.</li>
                  <li>나무를 그린 후에 추가로 그려 넣고 싶은 것이 있으면 그릴 수 있도록 안내해주세요.</li>
                  <li>다 그린 아이들을 위해 새로운 용지를 준비해주세요.</li>
                  <li>이번에는 용지를 세로로 놔주세요.</li>
                  <li>용지에 사람을 그리는데 막대 사람을 그리지 마시고, 잘 그려야 하지는 않지만 최대한 정성껏 그릴 수 있도록 아이들을 지도해주세요.</li>
                  <li>다 그린 경우, 그림을 스캔한 후에 집, 사람, 나무를 순서대로 업로드해주세요.</li>
              </ol>
          <br>
          <br>
          </div>
      </div>
      <div style="display: block; text-align: center;">
          <div style="display: inline-block;">
              <p style="font-size: xx-large;"><strong>유의사항</strong></p>
              <br>
                  <ul style="text-align: justify; line-height: 250%;">
                      <li>검사 결과는 검사 당시의 주변 상황에 따라 민감하게 달라질 수 있으므로 주변을 정리한 후에 진행해주세요.</li>
                      <li>책상 정리를 해 주시고 검사 중 불필요한 행동이나 잡담을 삼가도록 안내 부탁 드립니다.</li>
                      <li>솔직하고 성실하게 실시 할 수 있도록 지도해주세요.</li>
                  </ul>
          </div>
      </div>
      <br>
      <br>
      <a style="font-family: 'JejuMyeongjo';" class="btn btn-primary" href="{% url 'analysis:inputImage' %}">그림 등록하기</a>
  </section>

{% endblock %}