{% extends 'base.html' %}
{% block title %}- Register Done{% endblock %}

{% block content %}
<section style="font-family: 'Gaegu', cursive;" id="loginup" class="about-section text-center">
    <div style="display:block; margin-top: 3rem;">
        <div class="login-wrap">
            <div class="login-html">
                <div class="login-form">
                    <div class="alert alert-info">Registration Success. Welcome, {{new_user.username}}</div>
                    <a class="btn btn-primary" href="/">Move to main</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}